@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  margin:0;
  padding:0;
}

body {
  background-color: #03001C;
  color: #ececec;
}

footer {
  border-top: #ececec 1px solid;
  font-family: 'Poppins', sans-serif;
  padding: 10pt 50pt;
}

a {
  color: #00aa1c;
}

a:hover {
  color: #146c23;
}

h2, h3, h4, h5, p, table, li {
  font-family: 'Source Sans Pro', sans-serif;
  color: #d7d7d7;
}

h1 {
  font-size: 35pt;
  font-family: 'Rubik', sans-serif;
}

p, li {
  font-size: 16pt;
}

table {
  width: 100%;
}

th {
  border-bottom: #d7d7d7 1px solid;
}

td {
  padding: 5px;
  text-align: center;
}

label {
  font-family: 'Rubik', sans-serif;
  font-size: 18pt;
}

input {
  font-size: 17pt;
  width: 100%;
}

textarea {
  font-size: 17pt;
  width: 100%;
}

input[type="submit"] {
  border-style: none;
  padding: 10px 25px;
  background-color: #146c23;
  color: #d7d7d7;
  border-radius: 5px;
}

.form-container {
  padding: 10px;
}

.cancion-container {
  width: 100%;
}

.cancion {
  width: 500px;
  height: 500px;
  font-family: 'Montserrat', sans-serif;
  background-color: #320db84f;
  box-shadow: 5px 5px 20px 1px #00000091;
  padding: 30px;
  border-radius: 30px;
}

.cancion h2 {
  font-size: 25pt;
}

/* NAV */

nav {
  font-family: 'Poppins', sans-serif;
  display: block;
  background-color: #03001C;
  padding: 20px;
  color: #fff;
  box-shadow: 5px 5px 10px 1px #d7d7d728;

}

.nav-container {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-btn {
  color: #d7d7d7;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 20px;
}

.nav-content {
  display: flex;
  justify-content: space-evenly;
  border-top: #ececec 1px solid;
}

.nav-content li:hover {
  text-decoration: underline;
}

.nav-content li:visited {
  color: darkmagenta;
}

/* PANNEL */

.title-pannel {
  color: #00aa1c;
  font-size: 50pt;
  font-family: 'Rubik', sans-serif;
  text-shadow: -4px 4px 0px #146c23;
  text-transform: uppercase;
  animation: fadein 2s;
}

.index-pannel {
  background-color: #301E67;
  padding: 40pt;
  height: 550px;
}

.console-text {
  font-family: 'Poppins', sans-serif;
  color: #00aa1c;
}

.pannel-img {
  width: 350px;
  margin-right: 50pt;
  border-radius: 100px;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

.content-section {
  padding: 5% 20%;
}

.portada-articulo {
  width: 800px;
  overflow: hidden;
  margin: 0%;
}

.portada-articulo img{
  width: 100%;
  display: block;
  /*margin: -10% 0;*/
}

.portada-articulo img:hover {
  transform: scale(1.1);
}

.img-container img{
  width: 550px;
}

.img-description {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

/* EFFECTS */

.effect-1:hover {
  transition: transform 0.5s linear;
  transform:  translate(20px, 0px);
}
.effect-2:hover {
  transition: transform 0.5s linear;
  transform:  translate(-20px, 0px);
}

.effect-3:hover {
  transition: transform 0.5s linear;
  transform:  translate(0px, -20px);
}

.effect-4:hover {
  transition: transform 0.5s linear;
  transform:  translate(0px, 20px);
}

.effect-5:hover {
  transition: transform 0.5s linear;
  transform:  skew(10deg, 0deg);
}


@keyframes fadein {
  0% {
      opacity:0;
  }
  50% {
      opacity:0;
  }
  70% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
